/* Indivdual Page */

#country-page{

	div[data-role='main']{
		background-color: #f9f9f9;	
	}
	
}

.country-top{
	width: 100%;
	position: relative;
	background-color: #fff;

	.coverphoto{
		width: 100%;
		height: 125px;
	}

	.country-name{
		width: 100%;
		height: 35px;
		font-size: 18px;
		font-weight: bold;
		color: #000;
		margin: 10px 0px 0px 20px;
		display: table-row;

		i{
			font-size: 1.5em !important;
		}

		p{
			margin: 0px;
			padding: 3px 0px 0px 40px;
			width: auto;
			max-width: 300px;
			display: table-cell;
			font-weight: 700;
			vertical-align: middle;
			padding-left: 10px;
		}
	}

	.actions{
		width: 100%;
		height: 45px;
		
		div{
			width: 33.3%;
			height: 32px;
			text-align: center;
			float: left;
			padding-top: 13px;

			a{
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 18px;
				padding-top: 13px;
			}
		}

		.donate{
			background-color: $money;
		}

		.follow{
			background-color: $red;
		}

		.share{
			background-color: $blue;
		}
	}
}

.country-news{
	margin-top: 10px;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;

	.header{
		padding: 10px 20px;
		font-size: 18px;
		font-weight: 700;
		border-bottom: 1px solid #e5e5e5;
		color: $blue;
	}
}

.country-tweets{
	/*box-shadow: 0px 2px 4px rgba(23,18,18,.5); */
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff;
	margin-top: 10px;

	.section-header{
		margin-top: 0px;
	}
	
	.icon, .hashtag{
		color: $grey !important;
	}

	.more-tweets{
		border-top: 1px solid #e5e5e5;
		text-align: center;
		padding: 10px 0px;

		a{
			font-size: 18px;
			color: $blue;
			font-weight: 300;
			text-decoration: none;
		}
	}
}

.country-causes{
	/*box-shadow: 0px 2px 4px rgba(23,18,18,.5); */ 
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff;
	margin-top: 10px;

	.section-header{
		padding: 10px 20px;
		font-size: 18px;
		font-weight: 700;
		height: auto;
	}

	.ui-listview{
		margin: 0px;
		@include border-radius( 0px );
		
		li{
			padding: 0px;
			@include border-radius( 0px );
			border: none !important;

			h2{
				margin: 0px;

				a{
					background-color: #fff;
				}

				i{
					color: $grey;
				}

				span{
					display: inline-block;
					margin-top: 7px;
					margin-left: 20px;
				}
			}

			.ui-collapsible-content{
				background-color: #f1f1f1;
			}

			.ui-btn:hover{
				background-color: #fff;
			}

			p{
				white-space: normal;
			}
		}
	}
}
.country-map{
	margin-top: 10px;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;

	.header{
		padding: 10px 20px;
		font-size: 18px;
		font-weight: 700;
		border-bottom: 1px solid #e5e5e5;
		color: $blue;
	}

	#map{
		height: 375px;
		width: 100%;
	}	
}

.country-stat-item{
	/*box-shadow: 0px 2px 4px rgba(23,18,18,.5); */
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	background-color: #fff;
	margin-top: 10px;
	height: 45px; 
	
	.ui-listview{
		margin: 0px;
	}
}

.stat-header{
	width :100%;
	padding: 11px 20px;
	background-color: $blue;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.stat-content{
	background-color: #fff;
	padding: 10px 20px;
	color: $grey;
	font-size: 14px;
	font-weight: 300;
}

#finance, #geography, #demographics{

	div[data-role=header]{
		display:table;
		width: 100%;
	}

	h1{
		width: 100%;
		height: 35px;
		font-size: 18px;
		font-weight: bold;
		color: #000;
		margin: 10px 0px 0px 20px;
		display: table-row;

		i{
			font-size: 1.5em !important;
		}

		span{
			margin-left: 10px;
			display: inline-block;
			height: 27px;
			font-size: 24px;
		}
	}
}
