
@font-face {
    font-family:'AvenirNext-Heavy';
    src: url('fonts/AvenirNext-Heavy_gdi.eot');
    src: url('fonts/AvenirNext-Heavy_gdi.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirNext-Heavy_gdi.woff') format('woff'),
        url('fonts/AvenirNext-Heavy_gdi.ttf') format('truetype'),
        url('fonts/AvenirNext-Heavy_gdi.otf') format('opentype'),
        url('fonts/AvenirNext-Heavy_gdi.svg#AvenirNext-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'AvenirNext-Bold';
    src: url('fonts/AvenirNext-Bold_gdi.eot');
    src: url('fonts/AvenirNext-Bold_gdi.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirNext-Bold_gdi.woff') format('woff'),
        url('fonts/AvenirNext-Bold_gdi.ttf') format('truetype'),
        url('fonts/AvenirNext-Bold_gdi.otf') format('opentype'),
        url('fonts/AvenirNext-Bold_gdi.svg#AvenirNext-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'AvenirNext-DemiBold';
    src: url('fonts/AvenirNext-DemiBold_gdi.eot');
    src: url('fonts/AvenirNext-DemiBold_gdi.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirNext-DemiBold_gdi.woff') format('woff'),
        url('fonts/AvenirNext-DemiBold_gdi.ttf') format('truetype'),
        url('fonts/AvenirNext-DemiBold_gdi.otf') format('opentype'),
        url('fonts/AvenirNext-DemiBold_gdi.svg#AvenirNext-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}


@font-face {
    font-family:'AvenirNext-Medium';
    src: url('fonts/AvenirNext-Medium_gdi.eot');
    src: url('fonts/AvenirNext-Medium_gdi.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirNext-Medium_gdi.woff') format('woff'),
        url('fonts/AvenirNext-Medium_gdi.ttf') format('truetype'),
        url('fonts/AvenirNext-Medium_gdi.otf') format('opentype'),
        url('fonts/AvenirNext-Medium_gdi.svg#AvenirNext-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'AvenirNext-Regular';
    src: url('fonts/AvenirNext-Regular_gdi.eot');
    src: url('fonts/AvenirNext-Regular_gdi.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirNext-Regular_gdi.woff') format('woff'),
        url('fonts/AvenirNext-Regular_gdi.ttf') format('truetype'),
        url('fonts/AvenirNext-Regular_gdi.otf') format('opentype'),
        url('fonts/AvenirNext-Regular_gdi.svg#AvenirNext-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'AvenirNext-UltraLight';
    src: url('fonts/AvenirNext-UltraLight_gdi.eot');
    src: url('fonts/AvenirNext-UltraLight_gdi.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirNext-UltraLight_gdi.woff') format('woff'),
        url('fonts/AvenirNext-UltraLight_gdi.ttf') format('truetype'),
        url('fonts/AvenirNext-UltraLight_gdi.otf') format('opentype'),
        url('fonts/AvenirNext-UltraLight_gdi.svg#AvenirNext-UltraLight') format('svg');
    font-weight: 275;
    font-style: normal;
    font-stretch: normal;
}