
html,body{
    font-family: $avenirRegular;
    color: $fontColor !important;
    height: 100%;
}


input[type=text], input[type=password], input[type=email]{
	@include textBoxOutline( );
}

*:focus, a, a:focus {
    outline: none;
}

#wrapper{
    min-height: 100%;
    margin: 0 auto -65px;
    position: relative;
}

.push{
    height: 65px;
}

.flag-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  box-shadow: 0 0 2px black;
  overflow: hidden;
  margin-bottom: 20px;
}
.flag-wrapper:after {
  padding-top: 75%;
  /* ratio */
  display: block;
  content: '';
}
.flag-wrapper .flag {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  @include border-radius( 0px );
}

.container-fluid{
    max-width: 1190px;
    height: 65px;
}

.container{
	/*padding-bottom: 75px;*/

}

.navbar-header{
	height: 100%;
}

$i: 0;
$step: 1;
/*
* Loop while $i is less then fifty
* Increment $i by $step 
* each time.
*/

@while $i <= 50 {
    
    /*
        Set Padding helper classes
    */
    .padding-left-#{$i}     { padding-left: 0px + $i !important; }
    .padding-right-#{$i}    { padding-right: 0px + $i !important; }
    .padding-top-#{$i}      { padding-top: 0px + $i !important; }
    .padding-bottom-#{$i}   { padding-bottom: 0px + $i !important; }
    .padding-#{$i}          { padding: 0px + $i !important; }
    
    /*
        Set Margin helper classes
    */
    .margin-left-#{$i}     { margin-left: 0px + $i !important; }
    .margin-right-#{$i}    { margin-right: 0px + $i !important; }
    .margin-top-#{$i}      { margin-top: 0px + $i !important; }
    .margin-bottom-#{$i}   { margin-bottom: 0px + $i !important; }
    .margin-#{$i}          { margin: 0px + $i !important; }

    
    /* Increment $i by $step */
    $i: $i + $step;
}
$i: 0;
$step: 5;
@while $i <= 500 {
    .width-#{$i} { width: 0px + $i; display: inline-block; }
    $i: $i + $step;
}

@for $i from 0 through 100 {
    .width-percentage-#{$i} {
        width : round(percentage($i/100));
    }
}

$i: 10;
$step: 2;
@while $i <= 100 {
    .font-#{$i} { font-size: 0px + $i !important;}
    $i: $i + $step;
}

.text-green{ color: $green !important; }
.text-black{ color: $black !important; }
.text-grey{ color: $grey !important; }
.text-blue{ color: $blue !important; }
.text-yellow{ color: $yellowText !important; }
    
.bg-green{ background-color: $green !important; }
.bg-black{ background-color: $black !important; }
.bg-lightGrey{ background-color: $lightGrey !important; }
.bg-grey{ background-color: $grey !important; }
.bg-greyBtn{ background-color: $greyBtn !important; }
.bg-darkGrey{ background-color: $darkGrey !important; }
.bg-blue{ background-color: $blue !important; }


.btn-follow{
    color: #fff;
    background-color: #777;
    @include border-radius( 5px );
    font-size: 18px;
    
    p{
        text-transform: uppercase;    
        padding-left: 5px;
    }
    
}

.follow-icon-adjust:before{
    font-size: 20px;
}

.btn-donate{
    color: #fff;
    background-color: #15df3a;
    @include border-radius( 4px );
    @include pwi( 700 );
}


.rating span.star{
	display: inline-block;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
    float: none;
    padding: 0;
    margin: 0;
    width: 15px;

}
.rating span.star i{
	height: 20px;
    line-height: 1;
    width: 15px;
    color: #ced3d7;
}

.rating span.fill i{
	color: $starColor;
}

.impacts-causes{
    width: 100%;
    max-width: 425px;
    
    .title, .caret{
        color: #33aef4;
    }
    .title{
        font-size: 12px;
    }
    .list{
        color: #99a9b5;
        font-size: 12px;
    }
}

ul.pie-legend li{
    list-style: none;
}

ul.pie-legend li span{
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 2px;
}

.item-row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
 width: 100%;
height: auto;
  
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.product-price{
    font-size: 12px;
    color: #33aef4;
    font-weight: 300;
}

.project-module-list{
    @include box-outline( );
    padding: 20px 15px;
    background-color: #fff;

    .project-module-list-header{
        font-size: 18px;
        font-weight: 300;
        
        span:before{
            font-size: 12px;
        }
        
        a, a:hover, a:focus{
            font-size: 12px;
            color: #33aef4;
        }
    }

    .project-module{
        height: auto;
        min-height: 125px;
        padding: 3px 0px;

        img{
            @include squareImg( 110px );
            display: block;
        }

        .project-module-name{
            font-weight: 700;
            font-size: 18px;
            width: 100%;
            max-width: 400px;
            
            a, a:hover, a:visited{
                color: $black;
                text-decoration: none;
            }
        }

        .project-module-org-name{
            font-size: 12px;
            color: #8899a6;
            font-weight: 300;
        }

        .project-module-status{
            padding: 5px 10px;
            width: 100%;
            .status-line{
                display: inline-block;
                width: 100%;
                div{
                    /*display: table-cell;*/
                }

                .projectRaisedAmt{
                    color: #15df3a;
                    font-weight: bold;
                    font-size: 14px;
                }

                .projectGoal{
                    font-size: 11px;
                    color: #959ca0;
                }

                .projectGoalAmt{
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}

.product-module-list{
    @include box-outline( );
    background-color: #fff;
    padding: 20px 15px;

    .product-module-list-header{
        font-size: 18px;
        font-weight: 300;
        
        span:before{
            font-size: 12px;
        }
        
        a, a:hover, a:focus{
            font-size: 12px;
            color: #33aef4;
        }
    }

    .product-module{
        height: auto;
        min-height: 150px;
        padding: 3px 0px;

        img{
            width: 100%;
            max-width: 110px;
            max-height: 110px;
            display: block;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .product-module-name{
            font-weight: 700;
            font-size: 18px;
            width: 100%;
            height: auto;
            
            a, a:hover, a:visited{
                font-weight: 700;
                font-size: 18px;
                width: 100%;
                height: auto;
                color: $black;
                text-decoration: none;
            }
        }

        .product-module-org-name{
            font-size: 12px;
            color: #8899a6;
            font-weight: 300;
        }

        .product-module-desc{
            color: #8899a6;
            font-size: 12px;
            font-weight: 300;
            padding-right: 5px;
            
        }
    }
}

.no-outline{
    box-shadow: 0px 0px 0px rgba(23,18,18,.05) !important;
    border: 0px solid #f1f1f1 !important;
}

.org-module-list{
    @include box-outline( );
	background-color: #fff;
    padding: 20px 15px;
	
    .org-module-list-header{
        font-size: 18px;
        font-weight: 300;
        
        span:before{
            font-size: 12px;
        }
        
        a, a:hover, a:focus{
            font-size: 12px;
            color: #33aef4;
        }
    }

    .org-module{
        height: auto;
        min-height: 125px;
        padding: 3px 0px;
		
        img{
            width: 82px;
            height: 82px;
            display: block;
            @include border-radius( 4px );
        }
        .below-image{
            text-align: justify;
            width: 82px;
        }

        .star{
            width: 12px;
        }
        
        .org-module-name{
            
            font-weight: 700;
            font-size: 18px;
            width: 100%;
            max-width: 425px;
            
            a{
                color: #000;
            }
            a:hover{
                color: #000;
                text-decoration: none;
                
            }
        }

        .org-module-desc{
            font-size: 12px;
            color: #8899a6;
        }
    }
}

 .list-header{
    font-size: 18px;
    color: $grey;
    font-weight: 300;
}

.browse-by{
   
    a, a:visited, a:hover, a:focus{
        color: $blue;
        font-size: 14px;
    }
}

.loadingMore{
    width: 100%;
    border: 1px solid $blue;
    @include border-radius( 4px );
    color: $blue;
    text-align: center;
    display: none;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}

.modal{
    
    position:fixed;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: none;
    
    .modal-content-container{
        display: block;
        vertical-align: middle;
        text-align: center;
        padding-top: 75px;
        
        .country-space{
            width: 100%;
            height: 50px;
            text-align: center;
            visibility: hidden;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 24px;
            font-weight: 700;
            color: $grey;
            
            .flag-wrapper{
                margin-bottom: 0px;
                margin-top: 2px;
			}
        }
        
        .continentContainer{
	        width: 100%; 
	        background-color: #fff; 
	        display: inline-block; 
	        text-align: center;
	        
	        ul{
            
	            background-color: #fff;
	            display: inline-block;
	            border-bottom: 0px solid #fff;
	            
	            li{
	                padding: 0px 20px;
	                a{
	                    font-size: 24px;
	                    color: $blue;
	                    font-size: 700;
	                }
	                a:hover{
	                    background-color: #fff;
	                }
	            }
	            
	            li.active > a{
	                border: none;
	                border-bottom: 5px solid #0581c6;
	                color: #0581c6;
	            }
	        }
        }
    }
    .tab-content{
        height: auto;
        min-height: 300px;
        padding: 10px 100px;
        background-color: #fff;

		.modal-tab-pane{
            @include columns( 5 );
            text-align: left;
            
        }    
        .tab-pane a{
	        color: black;
	        font-size: 16px;
	        line-height: 26px;
		}
		
		.tab-pane a:hover{
			text-decoration: none;
			color: $blue;
			
		}
    }
    
    .cause-container{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        
        
        
        a:hover{
            text-decoration: none;
        }
        
        .select{
	        font-size: 36px;
	        font-weight: 600;
	        color: black;
        }

        .overlay-causes{
            width: 100%; 
            height: auto; 
            min-height: 300px; 
            background-color:#fff;

            .overlay-cause-list{
                padding:0px 200px;

                .overlay-cause-item{
                    padding: 30px 0px;

                    .modal-cause-icon i{
                        font-size: 3em; 
                        color: $blue;
                    }

                    .modal-cause-name{
                        text-align: left;

                        .cause-link{
                            color: $blue; 
                            font-size: 18px; 
                            font-weight: 700; 
                            margin-top: 5px;
                            text-decoration: none;
                        }

                        .view-subcauses{
                            display: none;
                            text-decoration: none;
                            color: $blue;
                            font-weight: 300;
                            font-size: 14px;
                        }
                    }
                }
            }
            .overlay-subcause-list{
                display: none;
                
                padding:0px 100px;

                h1{
                    color: $red;
                    padding: 10px 0px;
                    span{
                        display: inline-block;
                        margin-left: 10px;
                    }
                    small{
                        font-size: 18px;
                        color: black;
                        a{
                            font-size: 18px;
                        }
                    }

                    small:hover{
                        cursor: pointer;
                    }
                }
                
                .subcauseList{
                    @include columns( 4 );
                }
                
                a, a:hover, a:visited{
                    font-size: 18px;
                    font-weight: 300;
                    color: black;
                    white-space: nowrap;
                }

                a:hover{
                    color: $red;
                } 
            }
        }
    }
    
    .review-container{
	    position: relative;
        width: 75%;
        height: auto;
        padding: 2.8em; /* 2em * 1.4 (wem = half the with of an img 1.4 em */
        margin: 1.75em auto 0;
        display: block;
        text-align: center;
        background-color: white;
        border: 2px solid $grey;
        @include border-radius( 4px );
    }
    
    .suggestNP-container{
	    position: relative;
	    width: 590px;
	    height: auto;
	    min-height: 370px;
	    display: block;
	    background-color: white;
	    margin: 9em auto 0;
	    padding: 15px;
	    @include border-radius( 4px );
	    @include box-outline( );
	    
	    h3{
		    color: $red;
		    font-size: 18px;
		    font-weight: 700;
		    padding-bottom: 20px;
	    }
	    
	    .exit-suggestNP{
		    position: absolute;
		    right: 15px;
            top: 15px;
	    }
	    
	    .sub-suggestNP{
		    text-align: right;
		    
		    input[type='submit']{
				background-color: $red;
				color: #fff;
				text-transform: uppercase;    
				width: 275px;
				height: 45px;
				border: none;
				font-size:18px;
				@include border-radius( 4px );
		    }
		    
		    input[type='submit']:hover{
			    color: $red;
			    background-color: rgba(243, 102, 128, 0.25);
			    cursor: pointer;
			}
		}
		
		.suggestThankYou{
			border: 2px solid $money;
			display: none;
		}
    }
}

.white{
    background-color: rgba(255, 255, 255, .95);
}

.no-box-outline{
    box-shadow: none;
    border: none;
}

.more{
    display: none;
}

.readmore{
    color: $blue;
    font-size: 12px;
}

.readless{
    display: none;
    color: $blue;
    font-size: 12px;
}

.no-list-style{
    list-style: none !important;
}

.progress{
    background: #d7edf8;
    @include border-radius( 2px );
    margin: 0;
    box-shadow: none !important;
    height: 10px;
    display: inline-block;
    width: 100%;
    .progress-bar{
        background-color: #00FF58!important
    }
}

.follow{
    color: #fff;
    background-color: #f1657f;
    text-transform: uppercase;
    width: 100%;
    max-width: 125px;
    height: 45px;
    border: none;
    font-size: 18px;
    @include border-radius( 4px );
}

.follow:hover{
	color: #f1657f;
	background-color: rgba(241,101,127,0.25);
	cursor: pointer;
}

.cancel-amount{
    @extend .follow;
}

.share, .forgotPassword, .resetPassword{
    color: #fff;
    background-color: #33aef4;
    text-transform: uppercase;
    width: 100%;
    max-width: 125px;
    height: 45px;
    border: none;
    font-size: 18px;
    @include border-radius( 4px );
}

.share:hover, .forgotPassword:hover, .resetPassword:hover{
	color: #33aef4;
	background-color: rgba(51,174,244,0.25);
	cursor: pointer;
}

.forgotPassword, .resetPassword{
    max-width: 275px;
}

.error{
    color: red;
    border: 2px solid red;
    margin-top: 5px;
    padding: 5px;
    display: none;
}

.login-wrapper{
    position: absolute;
    top: -999999px;
    left: -999999px;
    display:none;
    
}

.login-window{
    background-color: #fff;
    width: 100%;
    
    
    .login-credentials{
        padding: 5px;
        
        .form-group{
            margin-bottom: 15px !important;
        }
        
        input[type='text'], input[type='password']{
            @include border-radius( 4px );
            color: $grey;
            border: 1px solid $grey;
            width: 100% !important;
            padding: 5px;
            padding-left: 15px;
            height: 45px;
        }
        
        p{
            font-size: 12px;
            color: $grey;
            font-weight: 300;
            
            a{
                color: $blue;
            }
            
            a.create-profile{
                color: $red;
            }
        }
        
        button{
            background-color: $blue;
            color: #fff;
            border: none;
            @include border-radius( 4px );
            text-transform: uppercase;
            width: 290px;
            height: 45px;
            font-size: 18px;
        }
        
        button:hover{
	        color: $blue;
	        background-color: rgba(51,174,244,0.25);
	        cursor:pointer;
        }
        
    }
    
    hr{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    
    .social-media-buttons{
	    
	    .social-btn{
		    @include border-radius( 4px );
		    color: #fff;
		    font-size: 18px;
		    max-width: 200px;
		    height:45px;
		    position: relative;
		    display: inline-block;
		    width: 177px;
		    padding-left: 15px;
		    padding-right: 35px;
		    margin-left: 3px;
		    margin-right: 3px;
		    
		    span{
			    position:absolute;
			    top: 5px;
                left: 15px;
		    }
		    
		    span:before{
			    font-size: 2em;
		    }
		}
		
		.btnk:hover{
			cursor: pointer;
		}
		
		.btn-facebook{
			background-color: #3a5897;
		}
		
		.btn-facebook:hover{
			color: #3a5897;
			background-color: rgba(58,88,151,0.25); 
			cursor: pointer;
			
		}
		
		.btn-twitter{
			background-color: #59adeb;
		}
		
		.btn-twitter:hover{
			color: #59adeb;
			background-color: rgba( 89,173,235,0.25);
			cursor: pointer;
		}
		
		.btn-google{
			background-color: #dc4e41;
		}
		
		.btn-google:hover{
			color: #dc4e41;
			background-color: rgba(220,78,65,0.25);
			cursor: pointer;
		}
		
		.btn-content{
			width: 100%;
			margin-top: 10px;
			float: left;
			text-align: right;
		}
    }
}


.navbar-toggle{
	margin-top: 15px;
	float:left;
	border: none;
	
	.icon-bar{
		height: 4px;
		margin-right:auto;
		margin-left: auto;
	}
}

.mobile-search-button{
	display: none;
	@extend .navbar-toggle;
	border: none;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 55px;
	@include border-radius( 0px );
	height: 64px;
}

.navbar-toggle{
	margin: 0px;
	padding-top: 15px;
	width: 65px;
	height: 64px;
	@include border-radius( 0px );

}

.mobile-search-container{
	width: 100%; 
	height: 45px;
	position: absolute;
	top: -45px;
	background-color: $red;
	z-index: 1;
	
	input{
		width: 100%;
		height: 100%;
		padding: 5px 25px;
		border: none;
		background-color: $red;
		color: $black;
		font-weight: 700;
		font-size: 1.5em;
	}
}

.mobile-pull-down-menu{
	
	width: 100%;
	height: auto;
	position: absolute;
	top: 65px;
	z-index: 1;

    .search_mobile{

        input{
            border: 0;
            margin-left: 55px;
            height: 44px !important;
        }
    }

    .mobile-menu-item{
		background-color: #fff;
		color: #000;
		border-bottom: 1px solid $grey;
		height: 45px;
		width: 100%;
		text-transform: uppercase;
		display: none;
        position: relative;

        .mobile-menu-icon{
            font-size: 2em;
            margin: 0px 20px;
            height: 45px;
            width: 45px;
            padding-top: 5px;
            position:absolute;
            top: 0;
            color: #D0D3D5;
        }
		
        img{
			width: 35px;
			height: 35px;
			margin-top: -10px;
			margin-right: 5px;
		}
		
        div{
            color: #000;
            height: 45px;
            padding-left: 60px;
            padding-top: 13px;
        }

		a, a:hover, a:visited{
			color: #000;
            text-decoration: none;
			text-decoration: uppercase;
		}
	}

    .mobile-submenu{
        background-color: #99d6f9;
        padding: 5px 20px;
        color: #0581c6;
        text-transform: uppercase;
        height: 45px;
        position: relative;
        
        .mobile-menu-icon{
            font-size: 2em;
            margin: 0px 20px;
            height: 45px;
            width: 45px;
            padding-top: 5px;
            position:absolute;
            top: 0;
            color: #0581C6;
        }

        div{
            color: #000;
            height: 45px;
            padding-left: 60px;
            padding-top: 7px;

            a, a:hover, a:visited{
                color: #0581c6;
                text-decoration: none;
            }
        }
    }
}

.mobile-submenu-select{
    background-color: $blue !important;
    color: #fff !important;

    a{
        color: #fff;
    }
}

.pwi-icon-2em{
	font-size: 2em;
}

.donate-button{
    width: 100%;
    max-width: 270px;
    background-color: #15df3a;
    @include border-radius( 4px );
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0px;
    text-align: center;
    height: 45px;
    text-transform: uppercase;
}

.donate-button:hover{
	color: #15df3a;
	background-color: rgba(21,223,58,0.25);
	cursor: pointer; 
}

.no-border{
	@include no-border( );
}

.post-comment{
    margin-top: 10px;
    height:auto;
    min-height: 280px;
    padding: 10px 20px;
    
    textarea{
        border: 1px solid #e5e5e5;
        box-shadow: 0px 0px 7px rgba(0,0,0,.05);
        @include border-radius ( 4px );
        width: 100%;
        height: 225px;
    }
    
    .post-comment-actions{
	    .rating{
		    .star:hover{
			    cursor:pointer;
		    }
	    }
    }
    
    .post-comment-button{
        background-color: #f1657f;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        @include border-radius( 5px );
        border: none;
        padding: 5px 10px;
        height: 45px;
        width: 250px;
    }
}

.countryModalOverride{
	display: block !important;
	margin-top: 100px;
	background: #fff;

	width: 95%;
	margin-left:auto;
	margin-right:auto;
	@include border-radius( 4px );
}
 
.causeModalOverride{
	display:block !important;
	margin-top:100px !important;
	@include border-radius( 160px );
	
	.select{
		margin-top: 75px !important;
	}
}

.exit-cause-modal{
	position: absolute;
	right: 15px;
	top: 15px;
}

.social-media-share a{
	font-size: 14px;
	width: 177px;
	height: 45px;
	color: #fff;
	padding: 5px 10px;
	@include border-radius( 4px );
	text-decoration: none;
}

.exit span:before{
	font-size: 20px; 
	color: $grey;
}

.join-popover{
	width: 572px;
	max-width: 572px;
	padding-bottom: 25px;
}

.join-actions span{
	margin-top: -10px;
}

.join-actions div,
.join-actions a{
    display: inline-block;
	width: 260px;
	height: 45px;
	color: #fff;
	border: none;
	@include border-radius( 4px );
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
}
.join-actions a{
    text-decoration: none;
}

.join-user{
	background-color: #33AEF4;
	float: left;
}

.join-user:hover{
	color: #33aef4;
	background-color: rgba(51,174,244,0.25);
	cursor: pointer;
}

.join-org{
	background-color: $red;
	float: right;
}

.join-org:hover{
	color: $red;
	background-color: rgba(241,101,127,0.25);
	cursor: pointer;
}

.container-thankyou{
	display:block;
	width: 100%;
	height: 100%;

	
	.thankyou-data{
		margin-top: 150px;
		h1{
			font-size: 48px;
			font-weight: 700;
			color: red;
		} 
		
		.content{
			color: black;
			font-size: 18px;
			font-weight: 300;
		}
		
	}
}

.pwi-icon-interpunct{
	color: $grey;
}

.feed, .news{
	@include box-outline( );
	@include border-radius( 4px );
	background-color: #fff;
	padding: 20px 15px;
	display: inline-block;
	min-height: 150px;
    height: auto;
    width: 100%;
    
	p{
		font-size: 18px;
		font-weight: 300;

        .hashtag{
            color: $red;
        }
	}
	
	.screen-name{
		margin-left: 53px;
		font-size: 18px;
		font-weight: 700;
		color: $blue;
		a{
			color: $blue;
			text-decoration: none;
		}
		
		a:hover, a:visited, a:focus{
			text-decoration: none;
			color: $blue;
		}
	}
	
	.post-item{
		color: $grey;
		font-size: 12px;
		margin: 5px 0px;
		
		.posted{
            font-weight: 400;
			font-size: 10px;
            color: $grey;

			a{
				color: $blue !important;
				text-decoration: none;
			}
			
			a:hover, a:visited, a:focus{
				text-decoration: none;
				color: $blue !important;
			}
		}
	}

    .news-item{
        
        padding: 10px 0px;
        img{
            @include border-radius( 4px );
            margin-right: 5px;
        }

        .news-item-title{
            font-size: 18px;
            font-weight: 700;
            color: black;
        }

        .news-item-data{
            font-size: 12px;
            font-weight: 400;
            .news-item-source{
                color: $grey;
            }

            .news-item-postDate{
                color: $blue;
            }
        }

        .news-item-desc{
            font-size: 12px;
            font-weight: 400;
            color: $grey;
        }
    }
}

.selective-search{
	width: 500px;
	max-width: 500px;
	
	ul{
		padding-left: 15px;
		list-style-type: none;
		
		li{
			font-size: 18px;
			a, a:hover, a:visited, a:focus{
				color: $blue;
				text-decoration: none;
			}
			
			a:hover{
				font-weight: 600;
			}
		}
	}
}

.border-right{
    border-right: 1px solid #d0d3d5;
}

.border-left{
    border-left: 1px solid #d0d3d5;
}

.img-radius{
    @include border-radius(4px);
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.checkout-thank-you-message{
    font-size: 36px;
    color: $red;
}

.edit-cog{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    
    i{
        font-size: 24px !important;
    }
}

.edit-cog:hover{
    cursor: pointer;
}

.view-control:hover{
    cursor:pointer;
}
