$spacer: 10px;
$leftSidebarWidth: 260px;
$leftSidebarWidthSmall: 240px;
$rightSidebarWidth: 290px;
$rightSidebarWidthSmall: 240px;

$navFontColor: #8899a6;

$lato: 'Lato', sans-serif;

$avenirHeavy: 'AvenirNext-Heavy', sans-serif;
$avenirBold: 'AvenirNext-Bold', sans-serif;
$avenirDemiBold: 'AvenirNext-DemiBold', sans-serif;
$avenirMedium: 'AvenirNext-Medium', sans-serif;
$avenirRegular: 'AvenirNext-Regular', sans-serif;
$avenirUltraLight: 'AvenirNext-UltraLight', sans-serif;

$navBarHeight: 65px;

$stdNavColor: #f9f9f9;

$indexNavColor: #ffffff;

$starColor: #33adf3;

$white: #ffffff;

$blue: #33aef4;

$green: #35db55;

$yellow: #f6ad10;
$yellowText: #f6ad10;

$greyText: #696b6a;

$greyBtn: #d3d3d3;

$grey: #8899a6;

$darkGrey: #484848;

$lightGrey: #d8d8d8;

$black: #292f33;

$money: #35db54;

$red: #f1657f;

$fontColor: #292f33;

$borderColor: #E5E5E5;

$demiBold: 700;
